#about-section {
  position: absolute;
  top: 1000px;
  left: 200px;
  height: 650px;
  width: 1000px;
  border-radius: 25px;
  background:rgba(129,130,130,0.8);
  margin-top: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
  margin-left: 80px;
}

#contact-section {
  position: absolute;
  top: 1600px;
  left: 1600px;
  height: 650px;
  width: 1000px;
  border-radius: 25px;
  background:rgba(129,130,130,0.8);
  margin-top: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
  margin-left: 80px;
}

#workw-section {
  position: absolute;
  top: 400px;
  left: 1600px;
  height: 650px;
  width: 1000px;
  border-radius: 25px;
  background:rgba(129,130,130,0.8);
  margin-top: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
  margin-left: 80px;
}
